.headerBtn {
  align-items: center;
}

.headerBtn > button {
  height: 40px;
  width: 80px;
  background-color: #1bc768;
  border-radius: 20px;
  border-style: none;
  margin: 10px;
  cursor: pointer;
}
