.orders__container{
  height: auto;
  text-align: center;
  align-self: center;
  align-items: center;
}


.table__data > td{
  padding: 2%;
  font-size: 150%;
}

.table__header > td{
  padding: 2%;
  font-family: ubuntu;
  font-weight: bold;
  font-size: 200%;
  color: #1b93c7;
}

@media only screen and (max-width :450px) {
  
  .orders__container{
    
    margin-left: auto !important;
    margin-right: auto !important;
    overflow-x: hidden !important;
    
  }

  .fl-table{
    position: relative;
    margin-left: 5% !important; 
   
   
   
  }
  .fl-table tbody tr{
    display: flex !important;
    flex-direction: row !important;
  }
  .fl-table tbody tr td{
    align-items: center;
  }
  .fl-table tbody tr td a .headerBtn{
    margin: -20%  !important;
  }
}

@media only screen and (max-width :770px) {

  .orders__container {

    margin-left: auto !important;
    margin-right: auto !important;
    overflow-x: hidden !important;

  }

  .fl-table {
    position: relative;
    margin-left: 5% !important;



  }

  .fl-table tbody tr {
    display: flex !important;
    flex-direction: row !important;
  }

  .fl-table tbody tr td {
    align-items: center;
  }

  .fl-table tbody tr td a .headerBtn {
    margin: -20% !important;
  }
}