body {
  padding: 0px 0px 0px 0px;
  z-index: 0;
}
.middle {
  display: flex;
  flex-direction: column;

  margin: 20px;
  margin-bottom: 20px;
}
h3 {
  font-size: 36px;
  font-weight: 900;
  color: #043caa;
  align-self: center;
  font-style: ubuntu;
}

.sec {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.text {
  display: flex;
  flex-direction: column;
}
h4 {
  color: blue;
  font-size: 30px;
}

.section2img{
  object-fit: contain;
  width: 600px;
}

.dot{
  position:relative; 
  bottom:10px; 
}

.points{
  position:relative; 
  left: 20px;
}